<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<% if (isLoggedIn === false) { %>
  <meta http-equiv="refresh" content="0; URL=/users/login"/>
<% } %>

    <main class="container">
        <h2>Añadir un nuevo personaje:</h2>
        <form action="nuevo-personaje" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="text" name="nombre">
            <input type="text" name="imagen">
            <input type="submit" value="Añadir personaje">
        </form>
    </main>

<%- include('partials/footer.ejs') %>